* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set height of body and the document to 100% */
body,
html {
  margin: 0;
  font-family: Arial;
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}
h1 {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  color: #604aed;
  border-bottom: 1px solid #ddd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Style tab links */
.container-tab {
  width: 65%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
}
.tab-container {
  display: flex;
  width: 100%;
}

.tablink {
  color: rgb(72, 69, 69);
  flex-direction: row;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent,
.tabcontentHome {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #f1f1f1;
}
#tabcontentHome {
  max-width: 90%;
}
#userCard,
#userPhoto,
#userAlbum {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 35px;
  justify-items: center;
}
.user {
  width: 220px;
  height: 200px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user h3 {
  width: 90%;
  text-align: center;
  color: #191f2b;
}
.user a {
  color: #191f2b;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 0;
  width: 90%;
  text-align: center;
}
.user button {
  width: 50%;
  padding: 7px;
  color: white;
  background: #604aed;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 2px;
}
.photo,
.album {
  width: 220px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.photo-image {
  width: 220px;
  height: 200px;
}
.photo-image > img {
  width: 100%;
  height: 100%;
}
.album p {
  padding: 10px;
  text-align: center;
}

/* info styling */

.container-info {
  width: 65%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px auto 40px auto;
}
#back {
  position: absolute;
  font-size: 40px;
  color: rgb(74, 71, 71);
  font-weight: bolder;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 0;
  left: 0;
}
#back img {
  width: 32px;
  height: 32px;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 150px;
  background-image: url("http://source.unsplash.com/1600x900/?face");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #604aed;
}
.sub-info div {
  display: flex;
  align-items: center;
}
.info span {
  font-size: 14px;
  color: #fff;
  font-style: oblique;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0.2rem;
  background-color: #604aed;
  margin: 0.3rem 0.7rem 0.3rem 0;
  display: inline-block;
  border-radius: 10px 0px 10px 0;
}
.info h2 {
  font-size: 30px;
  color: #535b67;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.5rem 0;
}
.todo {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  margin-bottom: 16px;
  border-left: 4px solid #604aed;
  border-radius: 2px;
}
.todo h3 {
  font-size: 16px;
  font-weight: 400;
}
.todo p[type="false"] {
  content: url(./images/icons8-close.svg);
  width: 16px;
  height: 16px;
}
.todo p[type="true"] {
  content: url(./images/tick-mark.png);
}
